.row {
    float: right;
}
/*Página Index*/ 
#Home {
display: flex;
justify-content: space-between;
margin: 0 5rem;
align-items: center;
height: 60vh;
}

.right img {
  width: 600px;
}

.left {
  align-items:  left;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 3rem;
}

.left button {
  width: 60%;
}
#mainheadline {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 110%;
}

#sobre {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
}

#primary {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

@media (width <= 1100px) {
  #Home {
    flex-direction: column;
  }
  .right img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .left,
  .right {
    width: 100%;
    float: none;
  }
}

/* A classe .clearfix à tag <tr> para limpar o float e garantir que a próxima linha comece abaixo da imagem e da div esquerda.*/
h2 {
    position: absolute;
    width: 163px;
    height: 36px;
    left: 550px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 140%;
}

/* Página Recursos */ 
#oval {
position: absolute;
left: 10%;
right: 77.78%;
top: 26.52%;
bottom: 69.43%;
}
#rec {
    margin-top: 5%;
}

#Bolinhas {
  font-weight: bold;
}
/* Adicionando animação de zoom/zoom-out*/

.bolota {
  transition: transform .3s ease;
  
}
.bolota:hover {
  transition: transform .3s ease;
  transform: scale(1.2);
}

/* Página Planos */
h4 {
    font-size: xx-large;
}
h3 {
    font-size: x-large;
}
h5 { 
  font-size: large;
}

.container {
    display: flex;
    justify-content: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.col1 {
    grid-row: 1 / span 2; /* Aumenta a altura da primeira coluna para ocupar duas linhas */
  }
  
.col2 {
    grid-row: 1 / span 5; /* Aumenta a altura da segunda coluna para ocupar três linhas */
  }
  
.col3 {
    grid-row: 1 / span 2; /* Aumenta a altura da terceira coluna para ocupar duas linhas */
  }
  /* Estilos adicionais para as colunas */
.col {
    padding: 20px;
  }

